* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container1 {
  width: 100%;
  height: 100vh;
}
.header {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 600;
}
.img1 {
  max-width: 300px;
  max-height: 45px;
  margin-right: 500px;
}
.div1 {
  width: 200px;
  height: 50px;
  border-left: 1px solid grey;
  font-size: 16px;
}
.parag1 {
  padding-top: 5px;
  padding-left: 10px;
  color: grey;
}
.parag2 {
  padding-left: 10px;
}
.in-container1 {
  width: 90%;
  margin: auto;
  display: flex;
}
.div2 {
  width: 50%;
  font-size: 30px;
  margin-top: 130px;
}
.title1 {
  font-weight: 700;
  padding-bottom: 15px;
}
.input1 {
  width: 260px;
  height: 30px;
  font-size: 18px;
  padding-left: 17px;
  margin-right: 10px;
  margin-top: 40px;
  border: 2px solid rgb(73, 70, 70);
  border-radius: 3px;
}
.button1 {
  width: 581px;
  height: 30px;
  margin-top: 15px;
  background-color: rgba(61, 104, 225, 1);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
.parag3 {
  font-size: 14.5px;
  padding-left: 118px;
  padding-top: 8px;
}
.div3 {
  margin-top: 100px;
}
.img2 {
  width: 650px;
}
.container2 {
  width: 100%;
  height: 40vh;
  background-color: rgba(245, 247, 248, 1);
  text-align: center;
  padding-top: 100px;
  font-size: 45px;
  font-weight: 400;
}
.span1 {
  display: inline-block;
  padding: -19px 10px;
  background-color: rgba(153, 181, 235, 1);
  border-radius: 45px;
}
.span2 {
  display: inline-block;
  padding: 0px 10px;
  background-color: rgba(153, 194, 165, 1);
  border-radius: 45px;
  margin-top: 5px;
}
.span3 {
  display: inline-block;
  padding: 0px 10px;
  background-color: rgba(249, 231, 138, 1);
  border-radius: 45px;
  margin-top: 5px;
}
.container3 {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(153, 181, 235, 1);
  font-size: 24px;
}
.title2 {
  padding-top: 70px;
  padding-bottom: 20px;
}
.subtitle2 {
  padding-bottom: 40px;
}
.img3 {
  width: 400px;
}
.container4 {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(153, 194, 165, 1);
  font-size: 24px;
}
.title3 {
  padding-top: 70px;
  padding-bottom: 20px;
}
.subtitle3 {
  padding-bottom: 40px;
}
.container5 {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(249, 231, 138, 1);
  font-size: 24px;
}
.title4 {
  padding-top: 70px;
  padding-bottom: 20px;
}
.subtitle4 {
  padding-bottom: 40px;
}
.img5 {
  width: 700px;
}
.container6 {
  width: 85%;
  height: 100vh;
  margin: auto;
  font-size: 24px;
}
.title5 {
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 550px;
}
.subtitle5 {
  padding-bottom: 40px;
  padding-left: 400px;
}
.span4 {
  padding-left: 100px;
}
.in-container2 {
  width: 100%;
  display: flex;
  gap: 30px;
}
.div4 {
  width: 30%;
  height: 320px;
  border: 2px solid grey;
  border-radius: 15px;
  justify-content: left;
  padding: 15px 15px;
}
.img6 {
  display: inline;
}
.span5 {
  margin-left: 20px;
}
.span6 {
  margin-left: 105px;
  font-weight: 700;
}
.parag4 {
  font-size: 19px;

  margin-top: 10px;
}
