* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container1 {
  width: 100%;
  height: 100vh;
}
.header {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 600;
  justify-content: space-between;
}
.link1 {
  color: rgba(172, 19, 19, 1);
  text-decoration: none;
  font-size: 19px;
  text-transform: capitalize;
}
.link2 {
  color: rgba(108, 108, 108, 1);
  text-decoration: none;
  margin-left: 20px;
  font-size: 19px;
  text-transform: capitalize;
}
.size-6 {
  max-width: 25px;
  border-left: 1px solid grey;
  padding-left: 40px;
}
.in-container1 {
  width: 100%;
  height: 90%;
  background-image: url("../images/image\ \(38\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.div1 {
  font-size: 16px;
  gap: 25px;
}
.parag1 {
  padding-top: 5px;
  padding-left: 10px;
  color: red;
}
.parag2 {
  padding-left: 10px;
}
.in-container1 {
  width: 90%;
  margin: auto;
  display: flex;
}
.div2 {
  width: 50%;
  font-size: 30px;
  margin-top: 170px;
  padding-left: 50px;
}
.title1 {
  font-weight: 700;
  padding-bottom: 15px;
}
.subtitle1 {
  font-size: 19px;
}
.button1 {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  background-color: rgba(172, 19, 19, 1);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 30px;
}
.div3 {
  width: 50%;
  padding-top: 150px;
}
.img1 {
  width: 850px;
  margin-left: -130px;
}
.container2 {
  width: 85%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.parag2 {
  text-align: center;
  color: rgba(215, 116, 116, 1);
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 15px;
}
.title2 {
  text-align: center;
  font-size: 56px;
  padding-bottom: 50px;
}
.title2 span {
  color: #b32017;
}
.div4 {
  text-align: center;
  padding-bottom: 60px;
}
.img2 {
  width: 80%;
}
.div5 {
  display: flex;
  justify-content: space-between;
}
.div6 {
  width: 45%;
}
.title3 {
  font-size: 36px;
  padding-bottom: 20px;
}
.parag3 {
  color: #777;
  line-height: 28px;
}
.container3 {
  width: 85%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid grey;
}
.div7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.div8 {
  width: 45%;
  text-align: center;
}
.img3 {
  width: 50%;
}
.div9 {
  width: 45%;
}
.title4 {
  font-size: 38px;
  font-weight: bolder;
  padding-bottom: 20px;
}
.parag4 {
  max-width: 400px;
  color: grey;
  line-height: 30px;
  padding-bottom: 20px;
}
.in-title1 {
  font-size: 18px;
  margin-left: 0px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.div10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div11 {
  width: 45%;
}
.div12 {
  width: 45%;
  text-align: center;
}
.img4 {
  width: 70%;
}
.container4 {
  width: 85%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: grey;
}

.parag5 {
  text-align: center;
  color: rgba(215, 116, 116, 1);
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

.title5 {
  text-align: center;
  font-size: 56px;
  padding-bottom: 50px;
}

.div13 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.div15 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.div14 {
  width: 31%;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.img5 {
  width: 100%;
}

.parag6 {
  color: #666;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 8px;
}

.parag7 {
  font-size: 18px;
  font-weight: bold;
}

.button2 {
  display: block;
  margin: auto;
  width: 220px;
  height: 55px;
  background-color: #b32017;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
